import { FC } from "react";

export const {{>name}}: FC = () => {
  return <{{>name}}View />;
};

interface I{{>name}}ViewProps {}

export const {{>name}}View: FC<I{{>name}}ViewProps> = () => {
  return <div></div>;
};
